@font-face {
    font-family: "Futura";
    src: url("/fonts/FuturaLightC.eot");
    src: url("/fonts/FuturaLightC.eot?#iefix") format("embedded-opentype"),
        url("/fonts/FuturaLightC.woff2") format("woff2"),
        url("/fonts/FuturaLightC.woff") format("woff"),
        url("/fonts/FuturaLightC.ttf") format("truetype"),
        url("/fonts/FuturaLightC.svg#FuturaLightC") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Futura";
    src: url("/fonts/FuturaBookC.eot");
    src: url("/fonts/FuturaBookC.eot?#iefix") format("embedded-opentype"),
        url("/fonts/FuturaBookC.woff2") format("woff2"),
        url("/fonts/FuturaBookC.woff") format("woff"),
        url("/fonts/FuturaBookC.ttf") format("truetype"),
        url("/fonts/FuturaBookC.svg#FuturaBookC") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Futura";
    src: url("/fonts/FuturaMediumC.eot");
    src: url("/fonts/FuturaMediumC.eot?#iefix") format("embedded-opentype"),
        url("/fonts/FuturaMediumC.woff2") format("woff2"),
        url("/fonts/FuturaMediumC.woff") format("woff"),
        url("/fonts/FuturaMediumC.ttf") format("truetype"),
        url("/fonts/FuturaMediumC.svg#FuturaMediumC") format("svg");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Futura";
    src: url("/fonts/FuturaDemiC.eot");
    src: url("/fonts/FuturaDemiC.eot?#iefix") format("embedded-opentype"),
        url("/fonts/FuturaDemiC.woff2") format("woff2"),
        url("/fonts/FuturaDemiC.woff") format("woff"),
        url("/fonts/FuturaDemiC.ttf") format("truetype"),
        url("/fonts/FuturaDemiC.svg#FuturaDemiC") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica-Light.eot");
    src: url("/fonts/Helvetica-Light.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Helvetica-Light.woff2") format("woff2"),
        url("/fonts/Helvetica-Light.woff") format("woff"),
        url("/fonts/Helvetica-Light.ttf") format("truetype"),
        url("/fonts/Helvetica-Light.svg#Helvetica-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica-Bold.eot");
    src: url("/fonts/Helvetica-Bold.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Helvetica-Bold.woff2") format("woff2"),
        url("/fonts/Helvetica-Bold.woff") format("woff"),
        url("/fonts/Helvetica-Bold.ttf") format("truetype"),
        url("/fonts/Helvetica-Bold.svg#Helvetica-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "BBT";
    src: url("/fonts/BBT.eot");
    src: url("/fonts/BBT.eot?#iefix") format("embedded-opentype"),
        url("/fonts/BBT.woff2") format("woff2"),
        url("/fonts/BBT.woff") format("woff"),
        url("/fonts/BBT.ttf") format("truetype"),
        url("/fonts/BBT.svg#BBT") format("svg");
    font-weight: normal;
    font-style: normal;
}
