@mixin anim($property, $time, $func, $delay) {
    -webkit-transition: $property $time $func $delay;
    -moz-transition: $property $time $func $delay;
    -ms-transition: $property $time $func $delay;
    -o-transition: $property $time $func $delay;
    transition: $property $time $func $delay;
}
@mixin anim_cubic($time, $delay) {
    -webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}
@mixin anim_cubic_custom($property, $time, $cubic, $delay) {
    -webkit-transition: $property $time cubic-bezier($cubic) $delay;
    -ms-transition: $property $time cubic-bezier($cubic) $delay;
    -moz-transition: $property $time cubic-bezier($cubic) $delay;
    -o-transition: $property $time cubic-bezier($cubic) $delay;
    transition: $property $time cubic-bezier($cubic) $delay;
}
@mixin rotate($deg) {
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}
@mixin rot_scale($deg, $num) {
    -moz-transform: rotate($deg) scale($num);
    -ms-transform: rotate($deg) scale($num);
    -webkit-transform: rotate($deg) scale($num);
    -o-transform: rotate($deg) scale($num);
    transform: rotate($deg) scale($num);
}
@mixin tr_rot($x, $y, $deg) {
    -moz-transform: translate($x, $y) rotate($deg);
    -ms-transform: translate($x, $y) rotate($deg);
    -webkit-transform: translate($x, $y) rotate($deg);
    -o-transform: translate($x, $y) rotate($deg);
    transform: translate($x, $y) rotate($deg);
}
@mixin tr_scale($x, $y, $num) {
    -moz-transform: translate($x, $y) scale($num);
    -ms-transform: translate($x, $y) scale($num);
    -webkit-transform: translate($x, $y) scale($num);
    -o-transform: translate($x, $y) scale($num);
    transform: translate($x, $y) scale($num);
}
@mixin tr_rot_scale($x, $y, $deg, $num) {
    -moz-transform: translate($x, $y) rotate($deg) scale($num);
    -ms-transform: translate($x, $y) rotate($deg) scale($num);
    -webkit-transform: translate($x, $y) rotate($deg) scale($num);
    -o-transform: translate($x, $y) rotate($deg) scale($num);
    transform: translate($x, $y) rotate($deg) scale($num);
}
@mixin scale($num) {
    -moz-transform: scale($num);
    -ms-transform: scale($num);
    -webkit-transform: scale($num);
    -o-transform: scale($num);
    transform: scale($num);
}
@mixin skew($num) {
    -webkit-transform: skewX($num);
    -moz-transform: skewX($num);
    -ms-transform: skewX($num);
    -o-transform: skewX($num);
    transform: skewX($num);
}
@mixin cnt($h) {
    display: flex;
    flex-direction: column;
    height: $h;
    text-align: center;
    align-items: stretch;
    justify-content: center;
}
@mixin tr($x, $y) {
    transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}
@mixin trIMPORTANT($x, $y) {
    transform: translate($x, $y) !important;
    -moz-transform: translate($x, $y) !important;
    -ms-transform: translate($x, $y) !important;
    -webkit-transform: translate($x, $y) !important;
    -o-transform: translate($x, $y) !important;
    transform: translate($x, $y) !important;
}
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin inline_flexbox() {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
@mixin grid() {
    display: -ms-grid;
    display: -moz-grid;
    display: grid;
}
@mixin inline_grid() {
    display: -ms-inline-grid;
    display: -moz-inline-grid;
    display: inline-grid;
}
@mixin flexorder($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

@mixin accentOnHover() {
    transition: all 130ms ease-in;
    &:hover {
        background-color: $ACCENT;
    }
}
