@import "./assets/index";

.not-found {
    text-align: center;
    overflow: hidden;

    .container {
        padding-top: 73px;
        padding-bottom: 65px;
        @media screen and (max-width: 992px) {
            padding-top: 21px;
            padding-bottom: 75px;
        }
        @media screen and (max-width: 600px) {
            padding-bottom: 268px;
            padding-top: 114px;
        }
    }

    &__bg {
        position: absolute;
        z-index: 1;

        &_1 {
            bottom: 0;
            left: -50px;
            height: auto;
            width: 41.1vw;
            max-width: 591px;
            @media screen and (max-width: 992px) {
                bottom: -2px;
                right: -63px;
                left: unset;
                width: 39vw;
            }
            @media screen and (max-width: 600px) {
                bottom: -3px;
                right: -122px;
                width: 76vw;
                min-width: 382px;
            }
        }

        &_2 {
            bottom: 63px;
            right: -50px;
            height: auto;
            width: 31.4vw;
            max-width: 452px;
            @include rotate(40deg);
            @media screen and (max-width: 992px) {
                bottom: 102px;
                left: -57px;
                right: unset;
                width: 32vw;
                @include rotate(14deg);
            }
            @media screen and (max-width: 600px) {
                top: 34px;
                left: -84px;
                right: unset;
                width: 53vw;
                @include rotate(-60deg);
            }
        }
    }

    h1 {
        font-size: 300px;
        position: relative;
        z-index: 2;
        text-transform: uppercase;
        @include flexbox();
        align-items: center;
        justify-content: center;
        gap: 10px;
        @media screen and (max-width: 992px) {
            font-size: 250px;
            gap: 0;
        }
        @media screen and (max-width: 600px) {
            font-size: 128px;
        }

        span {
            font-size: 270px;
            @media screen and (max-width: 992px) {
                font-size: 220px;
            }
            @media screen and (max-width: 600px) {
                font-size: 100px;
            }
        }
    }
    h2 {
        font-size: 32px;
        font-family: $titleFont;
        margin-bottom: 39px;
        position: relative;
        z-index: 2;
        text-transform: uppercase;
        @media screen and (max-width: 992px) {
            margin-top: -30px;
            font-size: 24px;
            margin-bottom: 15px;
        }
        @media screen and (max-width: 600px) {
            margin-top: 0;
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    p {
        font-size: 16px;
        color: #4a4a4a;
        margin-bottom: 59px;
        position: relative;
        z-index: 2;
        @media screen and (max-width: 992px) {
            font-size: 12px;
            margin-bottom: 25px;
        }
        @media screen and (max-width: 600px) {
            font-size: 10px;
            margin-bottom: 20px;
        }
    }
    .btn {
        font-size: 20px;
        padding: 19px 24px;
        height: auto;
        margin: 0px auto;
        position: relative;
        z-index: 2;
        @media screen and (max-width: 600px) {
            font-size: 14px;
            padding: 11px 16px;
        }
    }
}
