@import "./assets/index";

@import "../components/product-card/product-card.scss";
@import "../components/product-card-mini/product-card-mini.scss";
@import "../components/product-recommendations/product-recommendations.scss";

.main {
    border-bottom: 1px solid #6f6f6f;
    overflow: hidden;
    margin-bottom: 100px;
    @media screen and (max-width: 992px) {
        margin-bottom: 40px;
    }

    .container {
        @include flexbox();
        @media screen and (max-width: 1024px) {
            gap: 64px;
        }
        @media screen and (max-width: 834px) {
            display: block;
            gap: 60px;
        }
    }

    &__profile {
        flex-shrink: 0;
        flex-basis: 350px;
        border-right: 1px solid #6f6f6f;
        padding-bottom: 42px;
        @media screen and (max-width: 1024px) {
            flex-grow: 1;
            border: none;
        }

        .title {
            margin-bottom: 43px;
        }
    }

    &__profile-wrapper {
        background-color: #fff7f6;
        padding: 27px 10px 74px 27px;
        margin-right: 97px;
        font-family: $subtitleFont;
        position: relative;
        @media screen and (max-width: 1024px) {
            margin-right: 0;
            padding-bottom: 30px;
        }
        @media screen and (max-width: 600px) {
            padding-top: 40px;
        }
    }

    &__profile-name {
        @include flexbox();
        align-items: center;
        gap: 7px;
        margin-bottom: 35px;

        &::before {
            content: "";
            width: 21px;
            height: 21px;
            background-color: #000;
            border-radius: 50%;
        }
    }

    &__profile-item {
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 0;
        }

        span:first-of-type {
            color: #6f6f6f;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 5px;
            display: block;
        }
        p {
            font-size: 20px;
            font-weight: 300;
        }

        &_sex {
            @include flexbox();
            align-items: center;
            gap: 13px;

            span {
                margin-bottom: 0;
            }

            span:last-of-type {
                font-family: $mainFont;
                color: #fff;
                font-size: 20px;
                padding: 2px 17px;
                background-color: #c6c6c6;
                border-radius: 15px;
            }
        }

        &_address {
            p {
                font-size: 16px;
            }

            button {
                margin-top: 20px;
                color: #6f6f6f;
                font-size: 14px;
                text-decoration: underline;
                @include anim(all, 0.3s, ease-out, 0s);

                @media (hover: hover) {
                    &:hover {
                        color: $red;
                    }
                }

                &:active {
                    color: $red;
                }
            }
        }
    }

    &__profile-edit {
        position: absolute;
        bottom: 20px;
        right: 20px;
        @media screen and (max-width: 1024px) {
            bottom: unset;
            top: 15px;
            right: 15px;
        }

        path,
        svg {
            @include anim(all, 0.3s, ease-out, 0s);
        }
        @media (hover: hover) {
            &:hover {
                svg {
                    @include scale(1.2);
                }
                path {
                    fill: $red;
                }
            }
        }
        &:active {
            svg {
                @include scale(1.2);
            }
            path {
                fill: $red;
            }
        }
    }

    &__history {
        max-width: 905px;
        padding: 128px 0 42px 45px;
        position: relative;
        @media screen and (max-width: 1260px) {
            max-width: none;
            width: 100%;
        }
        @media screen and (max-width: 1024px) {
            width: auto;
            padding-left: 0;
            align-self: start;
            padding-bottom: 70px;
        }
        @media screen and (max-width: 992px) {
            padding-top: 100px;
        }
        @media screen and (max-width: 834px) {
            padding: 0;
            padding-bottom: 60px;
        }
    }

    &__history-head {
        margin-bottom: 43px;
        @include flexbox();
        justify-content: space-between;
        text-transform: uppercase;
        margin-bottom: 43px;
    }

    .swiper-nav {
        position: absolute;
        top: 128px;
        right: 25px;
        width: 140px;
        @include flexbox();
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1024px) {
            gap: 40px;
            justify-content: center;
            top: unset;
            bottom: 0;
            right: unset;
            left: 50%;
            @include tr(-50%, 0);
        }
        @media screen and (max-width: 834px) {
            display: none;
        }
    }
    .swiper-nav-item {
        position: static;
        margin-top: 0;
        width: 45px;
        height: 45px;
        border: 2px solid $black;

        svg {
            width: 8px;
            height: 16px;
        }

        path {
            stroke-width: 3px;
        }
        @media (hover: hover) {
            &:hover {
                background-color: $red;
                border-color: $red;
            }
        }
        &:active {
            background-color: $red;
            border-color: $red;
        }

        svg {
            @include anim(all, 0.3s, ease-out, 0s);
        }
    }

    .swiper-button-prev {
        @media (hover: hover) {
            &:hover {
                svg {
                    @include tr_rot(-5px, 0, 180deg);
                }
            }
        }
        &:active {
            svg {
                @include tr_rot(-5px, 0, 180deg);
            }
        }
    }
    .swiper-button-next {
        background-color: $black;

        path {
            stroke: #ffffff;
        }
        @media (hover: hover) {
            &:hover {
                svg {
                    @include tr(5px, 0);
                }
            }
        }
        &:active {
            svg {
                @include tr(5px, 0);
            }
        }
    }
    &__history-slider {
        width: 1340px;
        @media screen and (max-width: 1440px) {
            width: 930px;
        }
        @media screen and (max-width: 1260px) {
            width: 600px;
        }
        @media screen and (max-width: 1024px) {
            width: 360px;
            margin: 0;
        }
        @media screen and (max-width: 834px) {
            width: 100%;
            padding-bottom: 50px;
        }
        .fav-button {
            @media screen and (max-width: 1024px) {
                width: 20px;
                height: 20px;
            }

            svg {
                @media screen and (max-width: 1024px) {
                    width: 9px;
                    height: 8px;
                }
            }
        }

        .product-card-mini {
            h3 {
                font-size: 24px;
                @media screen and (max-width: 1024px) {
                    font-size: 15px;
                }
                @media screen and (max-width: 834px) {
                    font-size: clamp(15px, 3.7vw, 24px);
                }
            }
        }
    }
    .swiper {
    }
    .swiper-wrapper {
    }

    .swiper-pagination {
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin: 0px auto;
        display: none;

        @media screen and (max-width: 834px) {
            @include flexbox();
        }

        &-bullet {
            flex-shrink: 0;
            width: 8px;
            height: 8px;
            background-color: #c6c6c6;
            @include anim(all, 0.3s, ease-out, 0s);
        }

        &-bullet-active {
            width: 10px;
            height: 10px;
            background-color: #000;
        }
    }
}

.favs {
    padding-top: 0;
    border: none;
}
