<article class="product-card-mini @@classes" href="@@href">
    <a href="@@href" class="product-card-mini__link"></a>
    <button class="product-card-mini__fav fav-button">
        @@include("svg/favorite.html")
    </button>
    <div class="product-card-mini__header">
        <img
            src="@@image.main"
            alt="@@name"
            class="product-card-mini__img product-card-mini__img_main"
        />
        <img
            src="@@image.origin"
            alt="@@name original"
            class="product-card-mini__img product-card-mini__img_original"
        />
    </div>
    <h3 class="product-card-mini__name">@@name</h3>
</article>
