<main>
    <section class="not-found">
        <div class="container">
            <img
                src="/images/bg/404-1.png"
                alt=""
                class="not-found__bg not-found__bg_1"
            />
            <img
                src="/images/bg/404-2.png"
                alt=""
                class="not-found__bg not-found__bg_2"
            />
            <h1>4<span>0</span>4</h1>
            <h2>Страница не найдена</h2>
            <p>Страница не существует или находится в разработке</p>
            <a href="/" class="btn btn_border">вернуться на главную</a>
        </div>
    </section>
</main>
