<main>
    <section class="breadcrumbs">
        <div class="container">
            <p><a href="/" title="На главную">Главная</a> / о нас</p>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <h1 class="title">О нас</h1>
            <img src="/images/about/about1.jpg" alt="" class="alignright" />
            <p>
                Добро пожаловать в мир PERFUMS BAR - где роскошь становится
                доступной. Наша миссия - предложить вам лучшие продукты
                высочайшего качества по разумной цене.
            </p>
            <p>
                Мы гордимся нашей розничной сетью, включающей более 200
                брендовых торговых отделов, которая продолжает расти с каждым
                днем. Это подтверждает наше стремление к высокому качеству
                продукции и взаимовыгодному партнерству.
            </p>
            <p>
                Собственное отлаженное производство, многолетний опыт
                профессиональных сотрудников, проверенные поставщики - позволяют
                выпускать продукцию в доступном ценовом сегменте и обеспечивать
                стабильно высокое качество.
            </p>
            <p>
                ТМ «Perfums Bar» была зарегистрирована в 2007 году и наша
                продукция создается на производственных мощностях двух заводов,
                первый из них - ООО АВАЛОН+, наследник
                Парфюмерно-производственного комбината АВАЛОН, который является
                одним из лидеров на рынке производства парфюмерной продукции
                класса масс- и мидл-маркет.Второй - ООО ПКП "Т-КОСМЕТИКС",
                который имеет собственную новейшую лабораторию, отдел качества и
                проводит испытания.
            </p>
            <p>&nbsp</p>
            <img src="/images/about/about2.jpg" alt="" class="alignleft" />
            <p>
                Свыше 20 лет опыта в создании и развитии таких парфюмерных
                брендов, как ARENA FASHION, Aroma Bar, Joany Bishott, DE L’ERE и
                других, позволяют нам успешно реализовывать стратегию развития,
                направленную на удовлетворение требований и ожиданий
                потребителей.
            </p>
            <p>
                Наша уникальность заключается в том, что торговое оборудование
                Perfums Bar адаптируется под разные помещения и площади, но
                сохраняет неповторимый фирменный стиль. Наша фишка -
                использование барных дозаторов в архитектуре дизайна, что
                привлекает внимание покупателей.
            </p>
            <p>
                Мы также гордимся нашим постоянным наличием более 250 ароматов
                парфюмерной жидкости и ароматизированных масел, которые можно
                приобрести как на розлив, так и в фирменных флаконах Perfums Bar
                различной емкости.
            </p>
        </div>
    </section>
    <section class="advantages">
        <div class="advantages__bg">
            <img src="/images/about/adv1.png" alt="" />
        </div>
        <div class="container">
            <h2 class="title">Почему стоит выбрать нас</h2>
            <ul>
                <li>
                    <h3>
                        <strong>20 ЛЕТ ОПЫТА</strong>
                        <span>в парфюмерном мире</span>
                    </h3>
                    <p>
                        Это не просто мастерство, это искусство, которое
                        отличает нас от других брендов
                    </p>
                </li>
                <li>
                    <h3>
                        <strong>400 АРОМАТОВ</strong>
                        <span
                            >,чтобы каждый мог найти свой идеальный запах</span
                        >
                    </h3>
                    <p>
                        Наш разнообразный ассортимент удовлетворит самых
                        взыскательных клиентов, предлагая ароматы для всех
                        возрастов и предпочтений
                    </p>
                </li>
                <li>
                    <h3><strong>100% ГАРАНТИЯ КАЧЕСТВА</strong></h3>
                    <p>
                        С 2007 года бренд "Perfums Bar" является топовым игроком
                        в индустрии парфюмерии, заслужив доверие профессионалов
                        и ценителей ароматов.
                    </p>
                </li>
            </ul>
        </div>
    </section>
    @@include('components/reviews-block/reviews-block.html')
</main>
