<main>
    <section class="breadcrumbs">
        <div class="container">
            <p><a href="/" title="На главную">Главная</a> / контакты</p>
        </div>
    </section>
    <section class="stages">
        <div class="stages__bg">
            <img src="/images/bg/stages2.png" alt="" />
        </div>
        <div class="container">
            <ul class="stages__list">
                <h2 class="title">О ДОСТАВКЕ</h2>
                <li>
                    При заказе на сумму более 4000 руб. доставка бесплатная
                    (кроме курьерской доставки СДЭК)
                </li>
                <li>Заказы в интернет-магазине принимаются круглосуточно</li>
                <li>
                    Обработка заказов осуществляется:<br /><br />в будние дни с
                    9 до 21 часов,<br />в выходные дни с 10 до 20 часов.<br />Отправка
                    возможна только после 100% оплаты заказа
                </li>
                <li>
                    Срок сборки заказа 1-2 дня.<br /><br />Срок доставки 3-12
                    рабочих дней и зависит от дальности региона
                </li>
                <li>
                    Доставка осуществляется транспортной компанией СДЭК до
                    пункта выдачи в вашем городе, либо курьером (платно)
                </li>
                <li>
                    Расчет доставки происходит по тарифам транспортных компаний
                    автоматически при выборе данного вида доставки
                </li>
            </ul>
            <div class="stages__wrapper">
                <h3>Детали доставки</h3>
                <div class="stages__item">
                    <span class="stages__number">1</span>
                    <div class="stages__item-wrapper">
                        <p>Поместите выбранный товар в корзину</p>
                    </div>
                </div>
                <div class="stages__separator">
                    @@include('svg/arrow-mini.html', {'left': false, 'bottom':
                    true})
                </div>
                <div class="stages__item">
                    <span class="stages__number">2</span>
                    <div class="stages__item-wrapper">
                        <p>
                            Через всплывающее меню продолжите покупки или
                            перейдите в корзину
                        </p>
                    </div>
                </div>
                <div class="stages__separator">
                    @@include('svg/arrow-mini.html', {'left': false, 'bottom':
                    true})
                </div>
                <div class="stages__item">
                    <span class="stages__number">3</span>
                    <div class="stages__item-wrapper">
                        <p>Если у вас есть промокод, то примените его</p>
                    </div>
                </div>
                <div class="stages__separator">
                    @@include('svg/arrow-mini.html', {'left': false, 'bottom':
                    true})
                </div>
                <div class="stages__item">
                    <span class="stages__number">4</span>
                    <div class="stages__item-wrapper">
                        <p>
                            Нажмите «оформить покупку» и заполните информацию о
                            доставке
                        </p>
                    </div>
                </div>
                <div class="stages__separator">
                    @@include('svg/arrow-mini.html', {'left': false, 'bottom':
                    true})
                </div>
                <div class="stages__item">
                    <span class="stages__number">5</span>
                    <div class="stages__item-wrapper">
                        <p>Оплатите и завершите покупку</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="follow-anchor" class="utp">
        <div class="utp__bg">
            <img src="/images/bg/utp3.png" alt="Остались вопросы?" />
        </div>
        <div class="container">
            <div class="utp__follow">
                <h2 class="title">Подписаться</h2>
                <form id="follow" class="message-wrapper">
                    <p class="utp__desc">
                        Акции, промокоды и новинки каждую неделю
                    </p>
                    <div class="utp__follow-wrapper">
                        <input
                            type="text"
                            data-type="email"
                            name="follow-email"
                            id="follow-email"
                            placeholder="Ваш e-mail"
                        />
                        <button type="submit">
                            @@include('svg/arrow.html', {"color": "white"})
                        </button>
                    </div>
                    <p class="message"></p>
                </form>
            </div>
            <div class="utp__feedback">
                <h2 class="title">Обратная связь</h2>
                <form id="feedback">
                    <p class="utp__desc">Оставьте свой комментрий</p>
                    <div class="message-wrapper">
                        <div class="utp__feedback-wrapper">
                            <input
                                type="text"
                                name="feedback-name"
                                id="feedback-name"
                                placeholder="Ваше имя"
                            />
                            <input
                                type="tel"
                                name="feedback-tel"
                                id="feedback-tel"
                                data-type="tel"
                                placeholder="+7 (XXX) XXX XX XX"
                            />
                        </div>
                        <p class="message"></p>
                    </div>
                    <button type="submit" class="btn">
                        <span>Оставить заявку</span>
                        @@include('svg/arrow.html', {"color": "black"})
                    </button>
                </form>
            </div>
        </div>
    </section>
    <section id="contacts" class="contacts">
        <div class="container">
            <h2 class="title">Контактные данные</h2>
            <div class="contacts__wrapper">
                <div class="contacts__column contacts__column_tel">
                    <p class="contacts__desc">Телефон для связи</p>
                    <div class="contacts__item">
                        <p>По вопросам бизнеса:</p>
                        <div class="contacts__btn">
                            <div class="contacts__socials">
                                <a
                                    href=""
                                    title="Написать в WhatsApp"
                                    target="_blank"
                                >
                                    @@include('svg/whatsapp.html')
                                </a>
                                <a
                                    href=""
                                    title="Написать в Viber"
                                    target="_blank"
                                >
                                    @@include('svg/viber.html')
                                </a>
                            </div>
                            <a
                                href="tel:+7(777) 777 77 77"
                                class="contacts__link"
                            ></a>
                            <span>+7(777) 777 77 77</span>
                        </div>
                    </div>
                    <div class="contacts__item">
                        <p>По вопросам партнерства:</p>
                        <div class="contacts__btn">
                            <div class="contacts__socials">
                                <a
                                    href=""
                                    title="Написать в WhatsApp"
                                    target="_blank"
                                >
                                    @@include('svg/whatsapp.html')
                                </a>
                                <a
                                    href=""
                                    title="Написать в Viber"
                                    target="_blank"
                                >
                                    @@include('svg/viber.html')
                                </a>
                            </div>
                            <a
                                href="tel:+7(777) 777 77 77"
                                class="contacts__link"
                            ></a>
                            <span>+7(777) 777 77 77</span>
                        </div>
                    </div>
                    <div class="contacts__item">
                        <p>По вопросам интернет-магазина:</p>
                        <div class="contacts__btn">
                            <div class="contacts__socials">
                                <a
                                    href=""
                                    title="Написать в WhatsApp"
                                    target="_blank"
                                >
                                    @@include('svg/whatsapp.html')
                                </a>
                                <a
                                    href=""
                                    title="Написать в Viber"
                                    target="_blank"
                                >
                                    @@include('svg/viber.html')
                                </a>
                            </div>
                            <a
                                href="tel:+7(777) 777 77 77"
                                class="contacts__link"
                            ></a>
                            <span>+7(777) 777 77 77</span>
                        </div>
                    </div>
                </div>
                <div class="contacts__column contacts__column_mail">
                    <p class="contacts__desc">Почта для связи</p>
                    <div class="contacts__item">
                        <p>Эл. почта интернет-магазина:</p>
                        <div class="contacts__btn">
                            <a
                                href="mailto:pppppp@mail.ru"
                                class="contacts__link"
                            ></a>
                            <span>pppppp@mail.ru</span>
                        </div>
                    </div>
                    <div class="contacts__item">
                        <p>Эл. почта по общим вопросам:</p>
                        <div class="contacts__btn">
                            <a
                                href="mailto:pppppp@mail.ru"
                                class="contacts__link"
                            ></a>
                            <span>pppppp@mail.ru</span>
                        </div>
                    </div>
                    <div class="contacts__item">
                        <p>Эл. почта по вопросам партнерства:</p>
                        <div class="contacts__btn">
                            <a
                                href="mailto:pppppp@mail.ru"
                                class="contacts__link"
                            ></a>
                            <span>pppppp@mail.ru</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
