<main>
    <section class="product">
        <div class="container">
            <div class="product__main">
                <section class="breadcrumbs">
                    <p>
                        <a href="/" title="На главную">Главная</a> /
                        <a href="/catalog.html" title="К каталогу">каталог</a>
                        / Tom Ford
                    </p>
                </section>
                <div class="product__wrapper">
                    <div class="product__main-desc">
                        <h1>TOM FORD tobacco vanille</h1>
                        <p class="product__capacity">
                            <button
                                class="product__capacity-item product-capacity active"
                            >
                                8 мл
                            </button>
                            <button
                                class="product__capacity-item product-capacity"
                            >
                                20 мл
                            </button>
                            <button
                                class="product__capacity-item product-capacity"
                            >
                                30 мл
                            </button>
                            <button
                                class="product__capacity-item product-capacity"
                            >
                                50 мл
                            </button>
                            <button
                                class="product__capacity-item product-capacity not-avialable"
                            >
                                100 мл
                            </button>
                        </p>
                        <p class="product__category">духи</p>
                        <div class="product__orig-wrapper">
                            <button class="product__orig-button">
                                <span>Бренд оригинал</span>
                                @@include("svg/eye.html")
                            </button>
                            <p class="product__price">
                                <span>23 500 ₽</span>
                                <strong>19 900 ₽</strong>
                            </p>
                            <a
                                href="/contacts.html"
                                title="Подробнее о доставке"
                                class="product__delivery-link"
                                >Как осуществляется доставка ?</a
                            >
                        </div>
                        <div class="product__btns">
                            <div class="product__btns-item">
                                <button class="product__btn btn btn_border">
                                    купить сейчас
                                </button>
                                <div
                                    class="product__counter counter"
                                    data-max="6"
                                >
                                    <button
                                        class="counter-control counter-control_minus"
                                    >
                                        -
                                    </button>
                                    <span>1</span>
                                    <button
                                        class="counter-control counter-control_plus"
                                    >
                                        +
                                    </button>
                                </div>
                            </div>
                            <div
                                class="product__btns-item product__btns-item_fav"
                            >
                                <button class="product__btn btn btn_black">
                                    Добавить в корзину
                                </button>
                                <div class="product__fav">
                                    <button class="fav-button">
                                        @@include("svg/favorite.html")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__preview">
                        <div class="product__gallery">
                            <a
                                href="/images/catalog/thumb.png"
                                data-fancybox="thumbs"
                                data-caption="Caption #1"
                                class="product__thumb"
                            >
                                <img src="/images/catalog/thumb.png" alt="" />
                            </a>
                            <a
                                href="/images/catalog/thumb.png"
                                data-fancybox="thumbs"
                                data-caption="Caption #1"
                                class="product__thumb"
                            >
                                <img src="/images/catalog/thumb.png" alt="" />
                            </a>
                        </div>
                        <a
                            href="/images/product/2.png"
                            data-fancybox="gallery"
                            data-caption="Caption #1"
                            class="product__image product__image_original"
                        >
                            <img src="/images/product/2.png" alt="" />
                        </a>
                        <a
                            href="/images/product/1.png"
                            data-fancybox="gallery"
                            data-caption="Caption #1"
                            class="product__image"
                        >
                            <img src="/images/product/1.png" alt="" />
                        </a>
                    </div>
                    <a
                        href="/contacts.html"
                        title="Подробнее о доставке"
                        class="product__delivery-link"
                        >Как осуществляется доставка ?</a
                    >
                    <div class="product__gallery">
                        <a
                            href="/images/catalog/thumb.png"
                            data-fancybox="thumbs-responsive-1"
                            data-caption="Caption #1"
                            class="product__thumb"
                        >
                            <img src="/images/catalog/thumb.png" alt="" />
                        </a>
                        <a
                            href="/images/catalog/thumb.png"
                            data-fancybox="thumbs-responsive-1"
                            data-caption="Caption #1"
                            class="product__thumb"
                        >
                            <img src="/images/catalog/thumb.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="product__secondary">
                <p class="product__desc">
                    Туалетная вода L'Imperatrice от известного итальянского
                    бренда DOLCE & GABBANA – воплощение женской чувственности,
                    нежности и тайны, которую стремится узнать каждый мужчина.
                </p>
                <p class="product__price">
                    <span>23 500 ₽</span>
                    <strong>19 900 ₽</strong>
                </p>
                <p class="product__capacity product__capacity_mobile">
                    <button
                        class="product__capacity-item product-capacity active"
                    >
                        8 мл
                    </button>
                    <button class="product__capacity-item product-capacity">
                        20 мл
                    </button>
                    <button class="product__capacity-item product-capacity">
                        30 мл
                    </button>
                    <button class="product__capacity-item product-capacity">
                        50 мл
                    </button>
                    <button
                        class="product__capacity-item product-capacity not-avialable"
                    >
                        100 мл
                    </button>
                </p>
                <div class="product__btns">
                    <div class="product__btns-item">
                        <button class="product__btn btn btn_black">
                            Добавить в корзину
                        </button>
                        <div class="product__counter counter" data-max="6">
                            <button
                                class="counter-control counter-control_minus"
                            >
                                -
                            </button>
                            <span>1</span>
                            <button
                                class="counter-control counter-control_plus"
                            >
                                +
                            </button>
                        </div>
                    </div>
                    <div class="product__btns-item">
                        <button class="product__btn btn btn_border">
                            купить сейчас
                        </button>
                        <button class="product__fav fav-button">
                            @@include("svg/favorite.html")
                        </button>
                    </div>
                </div>
                <div class="product__btns product__btns_mobile">
                    <div class="product__btns-item">
                        <button class="product__btn btn btn_border">
                            купить сейчас
                        </button>
                        <div class="product__counter counter" data-max="6">
                            <button
                                class="counter-control counter-control_minus"
                            >
                                -
                            </button>
                            <span>1</span>
                            <button
                                class="counter-control counter-control_plus"
                            >
                                +
                            </button>
                        </div>
                    </div>
                    <div class="product__btns-item product__btns-item_fav">
                        <button class="product__btn btn btn_black">
                            Добавить в корзину
                        </button>
                        <div class="product__fav">
                            <button class="fav-button">
                                @@include("svg/favorite.html")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="description">
        <div class="container">
            <h2 class="title">Состав</h2>
            <div class="description__wrapper">
                <div class="description__column">
                    <h3>Семейство</h3>
                    <p>Фруктовые</p>
                    <h3>Коллекция</h3>
                    <p>DOLCE&GABBANA</p>
                    <h3>Пол</h3>
                    <p>Женский</p>
                </div>
                <div class="description__column">
                    <h3>Верхние ноты</h3>
                    <p>розовый перец, киви, ревень</p>
                    <h3>Ноты сердца</h3>
                    <p>жасмин, цикламен, арбуз</p>
                    <h3>Базовые ноты</h3>
                    <p>мускус, сандал, лимонное дерево</p>
                </div>
                <div class="description__column description__column_text">
                    <p>
                        Туалетная вода L'Imperatrice от известного итальянского
                        бренда DOLCE & GABBANA – воплощение женской
                        чувственности, нежности и тайны, которую стремится
                        узнать каждый мужчина.
                    </p>
                    <p>Эксклюзивная туалетная вода для роскошных дам</p>
                    <p>
                        Образ, вдохновивший парфюмеров DOLCE & GABBANA на
                        создание композиции L'Imperatrice – это молодая,
                        независимая и эффектная женщина, обладающая
                        магнетическим шармом, прирожденным обаянием и
                        очаровательной харизмой, перед которой невозможно
                        устоять.
                    </p>
                </div>
            </div>
        </div>
    </section>
    @@include('components/product-recommendations/product-recommendations.html',
    { 'classes': { 'main': 'similar', 'slider': 'similar__slider' }, 'title':
    'Похожие товары', 'cards': '../data/similar-cards.json' })
    @@include('components/product-recommendations/product-recommendations.html',
    { 'classes': { 'main': 'recommendations', 'slider':
    'recommendations__slider' }, 'title': 'ВАМ ТАКЖЕ ПОНРАВИТСЯ', 'cards':
    '../data/recommendations-cards.json' })
</main>
