<main>
    <section class="main">
        <div class="container">
            <div class="main__profile">
                <section class="breadcrumbs">
                    <p>
                        <a href="/" title="На главную">Главная</a> / профиль
                        пользователя
                    </p>
                </section>
                <h2 class="title">профиль</h2>
                <div class="main__profile-wrapper">
                    <p class="main__profile-name">Иринова Ирина Игоревна</p>
                    <div class="main__profile-item">
                        <span>Телефон</span>
                        <p>+7 (999) 897 66 77</p>
                    </div>
                    <div class="main__profile-item">
                        <span>Почта</span>
                        <p>lrrrina@gmail.com</p>
                    </div>
                    <div class="main__profile-item">
                        <span>Дата рождения</span>
                        <p>09.09.1999</p>
                    </div>
                    <div class="main__profile-item main__profile-item_sex">
                        <span>Пол</span>
                        <span>жен</span>
                    </div>
                    <div class="main__profile-item main__profile-item_address">
                        <span>Адрес доставки</span>
                        <p>г. Москва ул. Красная д. 98</p>
                        <button>Сменить адрес</button>
                    </div>
                    <a href="" class="main__profile-edit">
                        @@include('svg/edit.html')
                    </a>
                </div>
            </div>
            <div class="main__history">
                <div class="swiper-nav">
                    <div class="swiper-nav-item swiper-button-prev">
                        @@include('svg/arrow-mini.html', {'left': true,
                        'bottom': false})
                    </div>
                    <div class="swiper-nav-item swiper-button-next">
                        @@include('svg/arrow-mini.html', {'left': false,
                        'bottom': false})
                    </div>
                </div>
                <div class="main__history-head">
                    <h2 class="title">История покупок</h2>
                </div>
                <div class="main__history-slider swiper">
                    <div class="swiper-wrapper">
                        @@loop('components/product-card-mini/product-card-mini.html',
                        '../data/history-cards.json')
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>
    @@include('components/product-recommendations/product-recommendations.html',
    { 'classes': { 'main': 'favs', 'slider': 'favs__slider' }, 'title':
    'Избранное', 'cards': '../data/similar-cards.json' })
</main>
